Weekly Dungeon Rotator<br>
<%= @weekly_dungeon_rotator_name%><br>
<br>
Weekly Raid Rotator<br>
<%= @weekly_raid_rotator_name%><br>
<br>
<br>

Season <%= @current_season_number%>: <%= @current_season_name%>
<table>
  <tr>
    <th>Week</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
    <th>Monday</th>
  </tr>
  <% [*1..12].each do |week| %>
    <%= render partial: 'week',  locals: {week: week} %>
  <% end %>
</table>


