Season <%= @current_season_number%>: <%= @current_season_name%>: <%= @current_season_start%> - <%= @current_season_end%>

<%= render 'calendar_table'%>

<h2><%= link_to "Calendar Entry List", calendar_entries_url%></h2>

<script type="module">
  import $ from 'jquery'
  $(document).ready(function(){
    Inputmask().mask(document.querySelectorAll("input"));
  });
</script> 


